{% extends 'base.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Hello</h1>
		<table class="table">
			<thead>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>E-mail</th>
				<th>Adresse</th>
				<th>Téléphone</th>
				<th>Date de naissance</th>
				<th>Age</th>
				<th>Actions</th>
			</thead>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.nom }}</td>
					<td>{{ user.prenom }}</td>
					<td>{{ user.email }}</td>
					<td>{{ user.adresse }}</td>
					<td>{{ user.tel }}</td>
					<td>{{ user.birthDate|date('d-m-Y') }}
					<td>{{ user.age }} ans</td>
					<td>
						<a href="{{ path('app_possession', {'slug': user.id}) }}">
							<button class="btn btn-primary">Détails</button></a>
						<a href="{{ path('app_supprimer', {'slug': user.id}) }}">
							<button class="btn btn-danger">Supprimer</button>
						</a>
					</td>
				</tr>
			{% endfor %}
		</table>
		<a href="{{ path('app_ajouter') }}"><button class="btn btn-primary">Ajouter</button></a>
	</div>
{% endblock %}
